@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


:root {
    --primary-color: #8873ef; 
    --heading-color: #081e21;
    --small-text-color: #193256;
    --light-green: #67d7a7;
    --light-black: #242424;
    
    --bg-color: #0E1B31;
    --primary-color-two: #7865FF;
    --card-color: #132347;
    --model-bg: #102048;
    --scroll-bar-color: #c1ceff;
    --scroll-bar-thumb-color: #282f4e;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior:smooth;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Urbanist', sans-serif;
    background: var(--bg-color)!important;
}
.purple-btn {
    background: var(--primary-color-two) !important;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 7px 15px;
}
.purple-btn:hover {
    opacity: .8;
}
.green-btn {
    background-color: var(--light-green);
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 7px 30px;
}
.green-btn:hover {
    opacity: .8;
}
a {
    text-decoration: none!important;
}

.header {
    box-shadow: 7px -2px 7px 3px var(--primary-color-two);
}